*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

#Menu {
    background-color: black;
    padding: 20px;
}
#Menu li {
    display: inline;
    padding: 23px;
}
#Menu li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
